$black: #010102;
$white: #fff;
$blue1: #4239ff;
$darkGray1: #24252b;
$gray1: #6d7289;
$gray2: #c9cbda;
$blue2: #5960ff;
$lightGray: #f9f9fb;
$lightBlue: #d3d5ff;
$darkGray2: #353744;
$green: #4dff9e;
$pink: #ff57ee;
$yellow: #ffc24d;
$error: #ff2c5e;
$error2: #ffb0c3;
